<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="My_Inventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <My_Inventory.Properties.Settings>
            <setting name="WindowLeft" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowsWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WindowsHeight" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="Splitter1" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="Splitter2" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="Column00" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="Column01" serializeAs="String">
                <value>116</value>
            </setting>
            <setting name="Column02" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="Column03" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="Column04" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Column05" serializeAs="String">
                <value>169</value>
            </setting>
            <setting name="Column06" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Column07" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Column10" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Column11" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Column20" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Column21" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Column22" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Column23" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Column30" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Column31" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Column32" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Column33" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Column24" serializeAs="String">
                <value>100</value>
            </setting>
        </My_Inventory.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
